<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cynosure</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
   <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="cynosure-body">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-inverse navbar-static-top navbar-cynosure-mob" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><span class="selected">{{selected}}</span>
       <div class="social-icons-mob">
       <a href="www.facebook.com" target="_blank" class="fa fa-facebook"></a>
       <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
       <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
       </div>
      </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                     <li><a ng-class="{'active':home}" href="#" ng-click="home=true;live=false;events=false;products=false;gallery=false;movies=false;selected=''">Home</a></li>
        <li><a ng-class="{'active':live}" href="#!/live" ng-click="home=false;live=true;events=false;products=false;gallery=false;movies=false;selected='Live'">Live</a></li>
         <li><a ng-class="{'active':events}" href="#!/events" ng-click="home=false;live=false;events=true;products=false;gallery=false;movies=false;selected='Events'">Events</a></li>
         <li><a ng-class="{'active':products}" href="#!/products" ng-click="home=false;live=false;events=false;products=true;gallery=false;movies=false;selected='Products'">Products</a></li>
         <li><a ng-class="{'active':gallery}" href="#!/gallery" ng-click="home=false;live=false;events=false;products=false;gallery=true;movies=false;selected='Gallery'">Gallery</a></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" ng-class="{'active':movies}" role="button" aria-haspopup="true" aria-expanded="false" ng-click="home=false;live=false;events=false;products=false;gallery=false;movies=true">Movies <span class="caret"></span></a>
          <ul class="dropdown-menu cynosure-dropdown-menu">
            <li><a href="#!/movies/latest" ng-click="home=false;live=false;events=false;products=false;gallery=false;movies=true;selected='Latest Movies'">Latest</a></li>
            <li><a href="#!/movies/all" ng-click="home=false;live=false;events=false;products=false;gallery=false;movies=true;selected='All Movies'">All</a></li>
          </ul>
        </li>
            </ul>

        </div>
    </div>
</nav>
<nav class="navbar navbar-cynosure navbar-cynosure-desk">
  <div class="container-fluid navbar-cynosure-lg col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!--
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-class="{'active':home}" href="#" ng-click="home=true;live=false;events=false;products=false;gallery=false;movies=false">Home</a></li>
        <li><a ng-class="{'active':live}" href="#!/live" ng-click="home=false;live=true;events=false;products=false;gallery=false;movies=false">Live</a></li>
       <!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
         <li><a ng-class="{'active':events}" href="#!/events" ng-click="home=false;live=false;events=true;products=false;gallery=false;movies=false">Events</a></li>
         <li><a ng-class="{'active':products}" href="#!/products" ng-click="home=false;live=false;events=false;products=true;gallery=false;movies=false">Products</a></li>
         <li><a ng-class="{'active':gallery}" href="#!/gallery" ng-click="home=false;live=false;events=false;products=false;gallery=true;movies=false">Gallery</a></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" ng-class="{'active':movies}" role="button" aria-haspopup="true" aria-expanded="false">Movies <span class="caret"></span></a>
          <ul class="dropdown-menu cynosure-dropdown-menu">
            <li><a href="#!/movies/latest" ng-click="home=false;live=false;events=false;products=false;gallery=false;movies=true">Latest</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#!/movies/all" ng-click="home=false;live=false;events=false;products=false;gallery=false;movies=true">All</a></li>
          </ul>
        </li>
      </ul>
    <!--   <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="social-li"><a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
        </li>
         <li class="social-li">
        <a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a>
        </li>
          <li class="social-li">
       <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
        </li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <div ng-view></div>
  

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
   <script src="bower_components/angular-animate/angular-animate.min.js"></script>
   <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
   <script src="view3/view3.js"></script>
   <script src="view4/view4.js"></script>
   <script src="view5/view5.js"></script>
   <script src="view6/view6.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
