

<!-- <img class="homeImg" src="/img/homeMain.jpg"></img> -->
<div class="homeDesc">
	<span class="homeDescName">Neha Jayadeep</span>
	<div>theatrical artist | dancer </div>
</div>
<div id="panel-cynosure-default" class="panel panel-default panel-cynosure-newletter">
  <div class="panel-heading">
    <span class="panel-title">News Letter</span>
  </div>
  <div class="panel-body">
     <div class="subscriptionMsg" ng-class="{'red':!subscription,'green':subscription}">{{subscriptionMsg}}</div>
     <div class="input-group">
    <input type="email" class="form-control" placeholder="Recipient's email" ng-model="subscriptionMail" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2" ng-click="subscribe()">Sign Up</span>
  </div>
  </div>
</div>

